$font-elice-title: "Elice Digital Baeum", sans-serif;
$font-elice-content: "Elice Digital Coding", "monospace";

$color1: red;

h1 {
  color: $color1;
}

$color2: blue;

h2 {
  color: $color2;
}

$color3: tomato;

h3 {
  color: $color3;
}
html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
}

.navbar-brand {
  font-family: "Elice Digital Baeum", sans-serif;
  font-weight: bold;
  color: orange; // 적용안됨
}

$custom: black;
.btn-outline-dark {
  $primary: black;
}

.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.btn-post-category {
  // width: 200px;
  height: 24px;
  color: black;
  font-size: 12px;
  font-family: $font-elice-content;
  text-align: center;
  border: 1px solid lightgray;
  background: white;
  border-radius: 12px;
  // justify-content: space-around;
  // display: center;
  cursor: pointer;
}
.btn-post-category:hover {
  background: lightgray;
  color: black;
  border: 1px solid gray;
  box-shadow: 0 0 2px 0px lightgray;
}

// .offcanvas-body {
//   flex-grow: 5;
//   justify-content: space-between;
//   // background-color: orange;
// }

// .nav {
//   justify-content: space-between;
// }
// .nav-link {
//   justify-content: space-between;
// }
// // Custom.scss
// // Option B: Include parts of Bootstrap

// // 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "../../node_modules/bootstrap/scss/functions";
// @import "./functions";
// // // 2. Include any default variable overrides here

// // // 3. Include remainder of required Bootstrap stylesheets
// // @import "../../node_modules/bootstrap/scss/variables";
// @import "./variables";
// // // 4. Include any default map overrides here

// // // 5. Include remainder of required parts
// // @import "../../node_modules/bootstrap/scss/maps";
// // @import "../../node_modules/bootstrap/scss/mixins";
// // @import "../../node_modules/bootstrap/scss/root";
// @import "./maps";
// @import "./mixins";
// @import "./root";

// // // 6. Optionally include any other parts as needed
// // @import "../../node_modules/bootstrap/scss/utilities";
// // @import "../../node_modules/bootstrap/scss/reboot";
// // @import "../../node_modules/bootstrap/scss/type";
// // @import "../../node_modules/bootstrap/scss/images";
// // @import "../../node_modules/bootstrap/scss/containers";
// // @import "../../node_modules/bootstrap/scss/grid";
// // @import "../../node_modules/bootstrap/scss/helpers";
// @import "./utilities";
// @import "./reboot";
// @import "./type";
// @import "./images";
// @import "./grid";
// @import "./helpers";

// // // 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// // @import "../../node_modules/bootstrap/scss/utilities/api";
// @import "./utilities/api";

// // // 8. Add additional custom code here

// // offcanvas
// // @import "../../node_modules/bootstrap/scss/nav";
// // @import "../../node_modules/bootstrap/scss/navbar";
// // @import "../../node_modules/bootstrap/scss/offcanvas";
// @import "./containers";
// @import "./nav";
// @import "./navbar";
// @import "./offcanvas";
// @import "./close";
@import url("https://font.elice.io/EliceDigitalBaeum.css");
@import url("https://font.elice.io/EliceDigitalCoding.css");

@import "./carousel";
@import "../../node_modules/bootstrap/scss/bootstrap";
